:root {
  --sedans-background: hsl(31, 77%, 52%);
  --suvs-background: hsl(184, 100%, 22%);
  --luxury-background: hsl(179, 100%, 13%); 
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}


body {
background: hsl(0, 0%, 95%);
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--verylightgray);
  }

p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
  font-size: 15px;
}

.sedans  {
  background-color: var(--sedans-background);
}

.suvs {
  background-color: var(--suvs-background);
}

.luxury {
  background-color: var(--luxury-background);
}
