:root {
  --sedans-background: hsl(31, 77%, 52%);
  --suvs-background: hsl(184, 100%, 22%);
  --luxury-background: hsl(179, 100%, 13%); 
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}


body {
background: hsl(0, 0%, 95%);
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--verylightgray);
  }

p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
  font-size: 15px;
}

.sedans 
.suvs
.luxury {
  background-color: var(--sedans-background);
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 2fr 2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0em; 
  grid-template-areas: 
    ". . ."; 
  justify-items: stretch; 
  width: 70em; 
  height: 36em; 
}

.suvs {
  background-color: var(--suvs-background);
}

.luxury {
  background-color: var(--luxury-background);
}
