:root {
  --sedans-background: hsl(31, 77%, 52%);
  --suvs-background: hsl(184, 100%, 22%);
  --luxury-background: hsl(179, 100%, 13%); 
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}


body {
  background: hsl(0, 0%, 95%);
  display: grid; 
  grid-template-columns: 2fr 2fr 2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0em; 
  grid-template-areas: 
    ". . ."; 
  justify-items: center; 
  width: 70em; 
  height: 36em; 
  align-items: center;
  vertical-align: middle;
  margin: auto;
}
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(0, 0%, 95%);
  }

p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
  font-size: 15px;
}

.sedans  {
  background-color: var(--sedans-background);
}

.suvs {
  background-color: var(--suvs-background);
}

.luxury {
  background-color: var(--luxury-background);
}

.btn {
  vertical-align: bottom;
}
